.scroll {
  width: 100%;
  overflow-x: scroll;

  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar{
      width: 0px;
  }
}
.table {
  width: 95% !important;
  margin: 20px auto !important;
}

th, td {
  border: 1px solid black !important;
}
th {

  p {
      display: inline;
  }
}
td {
  padding: 5px 10px !important;
}
a {
  color: black !important;
}
svg {
  width: 20px;
  height: 20px;
}
